html {
    height: 100%;
}
body {
    height: 100%;
}

#root {
    min-height: 100%;
}

    #root > div {
        height: calc(100vh);
        overflow-y: auto;
    }

.nav-tabs .nav-link {
    cursor: pointer;
}

.entity-list-item,
.attribute-list-item {
    position: relative;
}

    .type-list-item input[type=checkbox],
    .entity-list-item input[type=checkbox],
    .attribute-list-item input[type=checkbox] {
        position: absolute;
        top: 5px;
        right: 10px;
    }

    .entity-list-item .edit-entity-link {
        position: absolute;
        top: 24px;
        right: 7px;
    }
