.nav-tabs .nav-link {
    cursor: pointer;
}

.entity-list-item,
.attribute-list-item {
    position: relative;
}

    .type-list-item input[type=checkbox],
    .entity-list-item input[type=checkbox],
    .attribute-list-item input[type=checkbox] {
        position: absolute;
        top: 5px;
        right: 10px;
    }
