
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dynamic Data</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet"
          href="css/styles.min.css" />
    <link rel="icon" href="/icons/favicon.png" />
</head>
<body>
    <noscript class="noscript">
        <div class="alert alert-warning">
            Please enable JavaScript to use this App.
        </div>
    </noscript>
    <section class="dynamic-data" data-ng-app="DynamicData.App">
        <div data-ng-include="'html/AppBar.html?v=@DynamicData.App.Startup.version'"></div>
        <div data-ng-view=""></div>
    </section>
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.js"></script>
    <script>

        var app_version = '@DynamicData.App.Startup.version';

        var user_name = '@Context.User.Identity.Name';

        var user_email = '@Context.User.FindFirst("emails")?.Value';

    </script>
    <script src="scripts/app-bundle.js?v=@DynamicData.App.Startup.version"></script>
</body>
</html>
