<section class="settings">
    <md-content class="md-padding">

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Settings</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <form name="SettingsForm">

                    <div layout="column">
                        <md-checkbox md-no-ink class="md-primary" ng-disabled="true">
                            Auto-save enabled (coming soon)
                        </md-checkbox>
                        <md-checkbox md-no-ink class="md-primary" ng-disabled="true">
                            Cloud storage enabled (coming soon)
                        </md-checkbox>
                        <md-checkbox md-no-ink class="md-primary"
                                     ng-model="vm.Settings.IsTraceEnabled">
                            Enable tracing
                        </md-checkbox>
                        <md-checkbox md-no-ink class="md-primary"
                                     ng-model="vm.Settings.IsDebugEnabled">
                            Enable debug mode
                        </md-checkbox>

                        <md-button ng-click="vm.InstallSampleData()">Install sample data</md-button>
                    </div>

                </form>
            </md-card-content>
        </md-card>

        

        <pre class="debug"
             ng-bind="vm.Settings | json"
             ng-show="vm.Settings.IsDebugEnabled"></pre>

    </md-content>        
</section>