<section class="dashboard">
    <md-content class="md-padding">

        <h3>Home</h3>

        <md-tabs md-dynamic-height md-border-bottom
                 md-selected="vm.SelectedIndex"
                 ng-hide="!vm.Types.length">
            <md-tab ng-repeat="type in vm.Types" label="{{ type.DisplayPluralName }}">

                <div ng-if="vm.SelectedIndex === $index">
                    <div ng-controller="DynamicData.UI.Controllers.DashboardPivotItemController">
                        <div ng-if="vm.Entities.length">
                            <div ng-repeat="entity in vm.Entities" class="entity-view-container">
                                
                                <entity-quick-view-form entity="entity"
                                                        open="vm.Open($index)"></entity-quick-view-form>

                                <md-checkbox class="md-secondary entity-select"
                                             ng-model="vm.Selected[entity.Id]"
                                             aria-label="Select Record"
                                             ng-change="vm.EnableDeletion()"></md-checkbox>

                            </div>                            
                            <md-divider></md-divider>
                            <md-subheader class="md-no-sticky">Sort By</md-subheader>
                            <div layout="row" layout-align="start start">
                                <md-select ng-model="vm.TypeSettings.SortBy"
                                           aria-label="Sort By">
                                    <md-option ng-value="''"><em>None</em></md-option>
                                    <md-option ng-repeat="option in vm.SortByOptions" ng-value="option.Name">
                                        {{ option.DisplayName }}
                                    </md-option>
                                </md-select>
                                <md-select ng-model="vm.TypeSettings.SortByDescending"
                                           ng-disabled="!vm.TypeSettings.SortBy"
                                           aria-label="Descending">
                                    <md-option ng-value="true">Descending</md-option>
                                    <md-option ng-value="false">Ascending</md-option>
                                </md-select>
                            </div>
                        </div>
                        <p ng-if="!vm.Entities.length" layout-margin layout-padding>
                            It is lonely here...
                            <md-button ng-click="vm.Add()">Create first {{ type.DisplayName }}</md-button>
                        </p>
                    </div>
                </div>
            </md-tab>
        </md-tabs>

        <p ng-show="!vm.Types.length">
            It is lonely here...
            <md-button ng-click="vm.InstallSampleData()">Install sample data</md-button>
        </p>

    </md-content>
</section>