<div class="field-editor" layout="column">
    <md-checkbox md-no-ink class="md-primary"
                 ng-if="vm.RenderAsToggleSwitch"
                 ng-model="vm.Checked">
        {{ vm.DisplayName }}
    </md-checkbox>
    <md-input-container ng-if="vm.RenderAsInputText">
        <label ng-bind="vm.DisplayName"></label>
        <input type="{{ vm.InputType }}" ng-model="vm.Text" />
    </md-input-container>
    <md-input-container ng-if="vm.RenderAsTextArea">
        <label ng-bind="vm.DisplayName"></label>
        <textarea ng-model="vm.Text"></textarea>
    </md-input-container>
    <div layout="row">
        <md-input-container ng-if="vm.RenderAsDatePicker">
            <label ng-bind="vm.DisplayName"></label>
            <md-datepicker ng-model="vm.Date"></md-datepicker>
        </md-input-container>
        <md-input-container ng-if="vm.RenderAsTimePicker">
            <label class="timepicker-label"
                   ng-bind="vm.RenderAsDatePicker ? 'Time' : vm.DisplayName"></label>
            <dd-timepicker ng-model="vm.Time"></dd-timepicker>
        </md-input-container>
    </div>
</div>