<section class="manage">
    <md-content class="md-padding">

        <h3>Manage your schema</h3>

        <div ng-repeat="type in vm.Types" class="type-view-container">

            <type-quick-view-form type="type" open="vm.Open($index)"></type-quick-view-form>

            <md-checkbox class="md-secondary type-select"                         
                         ng-model="vm.Selected[type.Name]"
                         aria-label="Select Type"></md-checkbox>

        </div>

        <span ng-show="!vm.Types.length">
            <md-button ng-click="vm.Add()">Create your first entity</md-button>
        </span>

        <pre class="debug" ng-bind="vm | json" ng-show="vm.Settings.IsDebugEnabled"></pre>

    </md-content>    
</section>