<section class="templates">
    <md-content layout-padding>

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Templates</span>
            </div>
        </md-toolbar>

        <md-nav-bar md-no-ink-bar="disableInkBar"
                    md-selected-nav-item="vm.SelectedType.Name"
                    nav-bar-aria-label="navigation links">
            <md-nav-item ng-repeat="type in vm.Types" name="{{ type.Name }}"
                         md-nav-click="vm.SelectType(type)">
                <span ng-bind="type.DisplayName"></span>
            </md-nav-item>
        </md-nav-bar>

        <span ng-show="!vm.Types.length">
            <md-button ng-click="vm.Add()">Create your first entity</md-button>
        </span>

        <form class="template-editor" ng-hide="!vm.SelectedType">

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Quick View Template</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout="column">
                        <md-input-container>
                            <textarea ng-model="vm.QuickViewTemplate" layout-align="start stretch"
                                      spellcheck="false" aria-label="Quick View Template"></textarea>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Profile</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout="column">
                        <md-input-container>
                            <textarea ng-model="vm.EditTemplate" layout-align="start stretch"
                                      spellcheck="false" aria-label="Edit Template"></textarea>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
        </form>

    </md-content>
</section>