<md-card class="type-view-form">
    <md-card-title>
        <md-card-title-text>
            <span class="type-name" ng-bind="type.DisplayName" ng-click="open()"></span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div class="attribute-list">
            <div class="attribute" ng-repeat="attribute in type.Attributes">
                <label class="label" ng-bind="attribute.DisplayName"></label>
                (<span class="value" ng-bind="attribute.TypeCodeName"></span>)
            </div>
        </div>
    </md-card-content>
</md-card>